.form-group.position-relative {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;  /* Ajustează conform designului tău */
    transform: translateY(-50%);
  }
  
  .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Poziționează iconița la 10px de partea dreaptă a input-ului */
    transform: translateY(-50%);
    cursor: pointer; /* Adaugă un pointer ca să indicăm faptul că se poate da click pe el */
  }
  