nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background-color: #1f2029;
 }

 .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-right: 4%;
    cursor: pointer;
 }

 .btn {
   padding: 10px 20px;
 }

 .btn-secondary {
   color: #fff;
   border: 1px solid #fff;
   background: transparent;
 }

 ul {
    list-style: none;
 }

   ul li {
      display: inline-block;
      margin-left: 20px;
   }

   ul li a {
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
      transition: all 0.2s;
      padding: 8px 30px;
      border-radius: 5px;
      transition: all .3s ease;
   }

   ul li a:hover,
   ul li a.active {
      background-color: #fff;
      color: #1f2029;
   }
   
   #icon svg {
      width: 28px;
      height: 28px;
      color: #fff;
      cursor: pointer;
      
   }

   #icon svg:hover {
      color: #fff;
   }

   #checkbox,
   #icon {
      display: none;
   }

   /* bubbles */
  
   .bubbles {
      position: absolute;
      background: #bbb;
      border-radius: 66%;
      animation: float 2.5s ease-in infinite;
      opacity: 0.5;
    }
    
    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      100% {
        transform: translateY(-50px);
        opacity: 0;
      }
    }

   @media screen and (max-width: 768px) {
      ul {
         position: fixed;
         top: 50px;
         left: 0;
         width: 100%;
         height: 100vh;
         background-color: #1f2029;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         transition: .5s ease-in-out;
         opacity: 0;
         z-index: -1;
      }

      ul li {
         display: block;
      }

      ul li a {
         font-size: 1.5rem;
         color: #fff;
         text-decoration: none;
         transition: all 0.2s;
         border-radius: 5px;
         transition: all .3s ease;
      }

      #icon {
         display: block;
      }

      #checkbox:checked ~ ul {
         opacity: 1;
         z-index: 1;
      }
   }